<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Library App</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h3>Books</h3>
  <input id="bookName" placeholder="Plaese enter book name" />
  <button onclick="addBook()">Submit</button>

  <div id="takenBooks" class="book-container"></div>

  <h2>Returned Books</h2>
  <div id="returnedBooks" class="book-container"></div>

  <div id="dialogueContainer" style="display: none;">
    <div class="overlay" onclick="closeDialogue()"></div>
    <div class="dialogue" id="dialogueBox"></div>
  </div>

  <script src="script.js"></script>
</body>
</html>
